<!-- Formulário 01 -->
<!-- <div>
  <label>Pesquisar: </label>
  <input type="text" [formControl]="text" />
</div> -->
<div class="create-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title class="title">Ficha de cadastro</mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-group">
      <form [formGroup]="pacienteForm">
        <mat-grid-list cols="3" rowHeight="70px">
          <mat-grid-tile [colspan]="3">
            <h2>Dados do Cliente</h2>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2">
            <mat-form-field>
              <mat-label>Nome:</mat-label>
              <input matInput formControlName="nome" />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1">
            <mat-form-field>
              <mat-label>Idade:</mat-label>
              <input matInput formControlName="idade" />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="3">
            <h2>Dados do Endereço</h2>
          </mat-grid-tile>

          <ng-container formGroupName="endereco">
            <mat-grid-tile [colspan]="1">
              <mat-form-field>
                <mat-label>Rua</mat-label>
                <input matInput formControlName="rua" />
                @if (pacienteForm.get('endereco.rua')?.invalid && pacienteForm.get('endereco.rua')?.touched) {
                  <mat-error>Preencha um nome para a rua</mat-error>
                }
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1">
              <mat-form-field>
                <mat-label>Cidade:</mat-label>
                <input matInput formControlName="cidade" />
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1">
              <mat-form-field>
                <mat-label>Estado:</mat-label>
                <input matInput formControlName="estado" />
              </mat-form-field>
            </mat-grid-tile>
          </ng-container>



         
          <!-- <label for="">Alergias</label>
          <div formArrayName="alergias">
            <button (click)="addAlergia()">Adicionar</button>
            @for(alergia of alergias.controls; track $index; let i = $index){
            <div [formGroupName]="i">
              <label>Nome: </label>
              <input type="text" formControlName="nome" />
              <label>Descrição: </label>
              <input type="text" formControlName="descricao" />
              <button (click)="removeAlergia(i)">Remover</button>
            </div>
            }
          </div> -->

        </mat-grid-list>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="clicou()" [disabled]="pacienteForm.invalid" mat-flat-button class="mat-login-button">
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
