<div class="login-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title class="login-title">Bem-vindo ao modulo 02!</mat-card-title>
      <mat-card-subtitle>Faça login para continuar</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="form-group">
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan]="3">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1">
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="redirectToDashboard()" class="mat-login-button">Entrar</button>
    </mat-card-actions>
  </mat-card>
</div>
