<div class="login-container">
  <div class="login-card">
    <h2 class="login-title">Bem-vindo ao modulo 02!</h2>
    <p class="login-subtitle">Faça login para continuar</p>
    <form>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="Digite seu e-mail" />
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" placeholder="Digite sua senha" />
      </div>
      <button type="submit" class="login-button" (click)="redirectToDashboard()">Entrar</button>
    </form>
  </div>
</div>
